server:
  port: 8083

spring:
  application:
    name: im-message-service
  datasource:
    url: jdbc:mysql://localhost:3306/im_message?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379
    database: 1
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public

elasticsearch:
  hosts: localhost:9200
  username: elastic
  password: changeme

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.mi.im.common.model